<div class="main-content">
  <header>
    <div class="header-content">
      <label for="menu-toggle">
        <span class="las la-bars"></span>
      </label>
    </div>
  </header>
  <main>
    <table width="100%">
      <thead>
        <tr>
          <th>#</th>
          <th><span class="las la-sort"></span> ENROLL ID</th>
          <th><span class="las la-sort"></span> STUDENT NAME</th>
          <th><span class="las la-sort"></span> COURSE TITLE</th>
          <th><span class="las la-sort"></span> COURSE CODE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of lecturerAttendances; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ course.enroll.enrollId }}</td>
          <td>{{ course.enroll.student.fullname }}</td>
          <td>{{ course.enroll.course.courseTitle }}</td>
          <td>{{ course.enroll.course.courseCode }}</td>
        </tr>
      </tbody>
    </table>
  </main>
</div>
