<div class="main-content">
  <header>
    <div class="header-content">
      <label for="menu-toggle">
        <span class="las la-bars"></span>
      </label>
    </div>
  </header>

  <main>
    <div class="page-header">
      <h1>Dashboard</h1>
      <small>Home / Dashboard</small>
    </div>

    <div class="page-content">
      <div class="records table-responsive">
        <div class="record-header">
          <div class="browse">
            <input type="search" placeholder="Search" class="record-search" />
          </div>
        </div>

        <div>
          <table width="100%">
            <thead>
              <tr>
                <th>#</th>
                <th><span class="las la-sort"></span> COURSE TITLE</th>
                <th><span class="las la-sort"></span> COURSE CODE</th>
                <th><span class="las la-sort"></span> ENROLLMENT KEY</th>
                <th><span class="las la-sort"></span> ASSIGNED TO</th>
                <th><span class="las la-sort"></span> ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of loginLecturerCourses; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ course.course.courseTitle }}</td>
                <td>{{ course.course.courseCode }}</td>
                <td>{{ course.course.enrollmentKey }}</td>
                <td>
                  <div class="client">
                    <div class="client-info">
                      <h4>{{ course.lecturer.lecturerName }}</h4>
                      <small>{{ course.lecturer.role }}</small>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="actions">
                    <span class="lab la-telegram-plane"></span>
                    <span class="las la-eye"></span>
                    <span class="las la-ellipsis-v"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assign Course</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script></script>
