<nav>
  <input type="checkbox" id="menu-toggle" />
  <div class="sidebar">
    <div class="side-header">
      <h3>S<span>uza</span></h3>
    </div>

    <div class="side-content">
      <div class="profile">
        <div
          class="profile-img bg-img"
          style="background-image: url(../assets/images/admin.jpg)"
        ></div>
        <h4>Mukht4rr</h4>
        <small>Admin</small>
      </div>

      <div class="side-menu">
        <ul>
          <li>
            <a href="" routerLink="/home" routerLinkActive="active">
              <span class="las la-home"></span>
              <small>Dashboard</small>
            </a>
          </li>
          <li>
            <a href="" routerLink="/lecturers" routerLinkActive="active">
              <span class="las la-user-alt"></span>
              <small>Lecturers</small>
            </a>
          </li>
          <li>
            <a href="" routerLink="/students" routerLinkActive="active">
              <span class="las la-user-alt"></span>
              <small>Students</small>
            </a>
          </li>
          <li>
            <a href="" routerLink="/courses" routerLinkActive="active">
              <span class="las la-clipboard-list"></span>
              <small>Courses</small>
            </a>
          </li>
          <li>
            <a href="" routerLink="/settings" routerLinkActive="active">
              <span class="las la-cog"></span>
              <small>Settings</small>
            </a>
          </li>
          <li>
            <a href="" (click)="onLogout()">
              <span class="las la-sign-out-alt"></span>
              <small>Logout</small>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
