<div class="main-content">
  <header>
    <div class="header-content">
      <label for="menu-toggle">
        <span class="las la-bars"></span>
      </label>

      <div class="header-menu">
        <label for="">
          <span class="las la-search"></span>
        </label>

        <div class="notify-icon">
          <span class="las la-envelope"></span>
          <span class="notify">4</span>
        </div>

        <div class="notify-icon">
          <span class="las la-bell"></span>
          <span class="notify">3</span>
        </div>

        <div class="user">
          <div
            class="bg-img"
            style="background-image: url(../assets/images/admin.jpg)"
          ></div>

          <span class="las la-power-off"></span>
          <span>Logout</span>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-header">
      <h1>Course</h1>
      <small>Home / Courses</small>
    </div>

    <div class="page-content">
      <div class="records table-responsive">
        <div class="record-header">
          <div class="browse">
            <input type="search" placeholder="Search" class="record-search" />
          </div>
        </div>

        <div>
          <table width="100%">
            <thead>
              <tr>
                <th>#</th>
                <th><span class="las la-sort"></span> COURSE TITLE</th>
                <th><span class="las la-sort"></span> COURSE CODE</th>
                <th><span class="las la-sort"></span> ATTENDENCE CODES</th>
                <th><span class="las la-sort"></span> TIME GENERATED</th>
                <th><span class="las la-sort"></span> STATUS</th>
                <th><span class="las la-sort"></span> ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of loginLecturerCourses; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ course.course.courseTitle }}</td>
                <td>{{ course.course.courseCode }}</td>
                <td>
                  <div class="client">
                    <div class="client-info">
                      <h4>{{ course.course.attendanceCode }}</h4>
                    </div>
                  </div>
                </td>
                <td>{{ course.course.date }}</td>
                <td>
                  <span
                    [ngClass]="{
                      'badge badge-success':
                        course.course.attendanceCodeStatus === 'ACTIVE',
                      'badge badge-danger':
                        course.course.attendanceCodeStatus === 'EXPIRED',
                      'custom-badge custom-badge-success':
                        course.course.attendanceCodeStatus === 'ACTIVE',
                      'custom-badge custom-badge-danger':
                        course.course.attendanceCodeStatus === 'EXPIRED'
                    }"
                  >
                    {{ course.course.attendanceCodeStatus }}
                  </span>
                </td>
                <td>
                  <div class="add">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="generateAttendanceCode(course.course.courseId)"
                    >
                      Generate Attedence Code
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Assign Course</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script></script>
