<router-outlet></router-outlet>
<input type="checkbox" id="menu-toggle" />

<div class="main-content">
  <header>
    <div class="header-content">
      <label for="menu-toggle">
        <span class="las la-bars"></span>
      </label>
    </div>
  </header>

  <main>
    <div class="page-header">
      <h1>Students</h1>
      <small>Home / Students</small>
    </div>

    <div class="page-content">
      <div class="analytics"></div>

      <div class="records table-responsive">
        <div class="record-header">
          <div class="browse">
            <input
              type="search"
              placeholder="Search"
              class="record-search"
              (input)="onSearch()"
              [(ngModel)]="searchText"
            />
          </div>
        </div>

        <div>
          <table width="100%">
            <thead>
              <tr>
                <th>NAME</th>
                <th><span class="las la-sort"></span> REGISTRATION NUMBER</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of filteredStudents">
                <td>
                  <div class="client">
                    <div class="client-info">
                      <h4>{{ student.fullname }}</h4>
                    </div>
                  </div>
                </td>
                <td>{{ student.registrationNumber }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
</div>
